<div id="<%= dom_id(project) %>" class="rounded-t-lg shadow-xl overflow-hidden text-black shadow-2xl grid grid-cols-1 md:grid-cols-2 border border-solid border-gray-100 place-items-center p-4">
  <div class="border border-teal-900 border-4 flex justify-center items-center rounded-xl m-2 aspect-video">

    <% if project.video? %>
      <%= video_tag project.demo_video_url,
          autoplay: true,
          loop: true,
          muted: true,
          playsinline: true,
          class: "rounded-lg aspect-video w-full" %>
    <% else %>
      <%= image_tag project.demo_video_url, class: 'aspect-video rounded-lg' %>
    <% end %>

  </div>

  <div class="p-2 flex flex-col gap-4 w-full">
    <h2 class="text-xl text-bold"><%= project.title %></h2>
    <p class="text-xs italic"><%= project.description %></p>
    <div class="text-xs"><%= project.content %></div>
    <div class="flex flex-wrap justify-center gap-2 mt-auto">
      <%= render partial: 'tech_stack_icon', collection: project.tech_stack, as: :tech_stack %>
    </div>
  </div>
</div>
