<div class="rounded-t-lg shadow-xl overflow-hidden text-black shadow-2xl flex flex-col md:flex-row border border-solid border-gray-100">
  <% if project.video? %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= project.demo_video_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <% elsif project.demo_image.attached? %>
    <%= image_tag project.demo_image, class: 'w-[560px] h-[315px]' %>
  <% else %>
    <p class="w-[560px] text-center">No Image Attached</p>
  <% end %>

  <div class="p-2 flex flex-col gap-4">
    <h2 class="text-xl text-bold"><%= project.title %></h2>
    <p class="text-xs italic"><%= project.description %></p>
    <div class="text-xs"><%= project.content %></div>
    <div class="flex gap-2 mt-auto justify-between">
      <%= render partial: 'tech_stack_icon', collection: project.tech_stack, as: :tech_stack %>
    </div>
  </div>
</div>
