<%= form_with(model: project, class: "contents") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul class="list-disc ml-6">
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": project.errors[:title].none?, "border-red-400 focus:outline-red-600": project.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": project.errors[:description].none?, "border-red-400 focus:outline-red-600": project.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :demo_video_url %>
    <%= form.text_field :demo_video_url, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": project.errors[:demo_video_url].none?, "border-red-400 focus:outline-red-600": project.errors[:demo_video_url].any?}] %>
  </div>

  <div>
    <%= form.label :demo_image %><br>
    <%= form.file_field :demo_image %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :featured %>
    <%= form.check_box :featured, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": project.errors[:featured].none?, "border-red-400 focus:outline-red-600": project.errors[:featured].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :role %>
    <%= form.text_field :role, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": project.errors[:role].none?, "border-red-400 focus:outline-red-600": project.errors[:role].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :category %>
    <%= form.text_field :category, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": project.errors[:category].none?, "border-red-400 focus:outline-red-600": project.errors[:category].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :demo_type %>
    <%= form.text_field :demo_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": project.errors[:demo_type].none?, "border-red-400 focus:outline-red-600": project.errors[:demo_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :slug %>
    <%= form.text_field :slug, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": project.errors[:slug].none?, "border-red-400 focus:outline-red-600": project.errors[:slug].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
